body{
    background-image: url(table.jpg);
    /*background-color: darkgreen; used if image unavailable*/
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    background: goldenrod;
    width: 150px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 900;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
}
